/* Estilos generales 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}
*/
.card{
    height: 300px;
}

.card img{
    max-height: 230px;
    max-width: 230px;
}

.card figure{
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner{
    background-image: url("./images/bg-annlu.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#footer{
    background-color: #0E78F0;
    color: white;
}
.flex-column li{
    color: white !important;
}


#footer li a {
    /* Estilos para los elementos li dentro del footer */
    color: white; /* Cambia el color del texto a blanco como ejemplo */
    text-decoration: none;
  }
  


  #carousel{
    background-image: url("./images/bg-annlu.png");
    background-repeat: no-repeat;
    background-size: cover;

  }