/* Estilos generales 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}
*/
.card{
    height: 300px;
}

.card img{
    max-height: 230px;
    max-width: 230px;
}

.card figure{
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

